{% extends 'trainer/base.html' %}
{% load static %}

{% block title %}All Trainers{% endblock title %}

{% block content %}
   <div class="container">
   {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
    </div>
   <table class = 'table'>
      <tr>
         <th>Trainer ID</th>
         <th>Trainer First Name</th>
         <th>Trainer Last Name</th>
         <th>Trainer Subject</th>
         <th>Action</th>
      </tr>
        <tbody>
        {% for trainer in tr_list %}
        <tr>
            <td>{{trainer.id}}</td>
            <td>{{trainer.first_name}}</td>
            <td>{{trainer.last_name}}</td>
            <td>{{trainer.subject}}</td>
            <td> <button class="btn btn-warning " ><a href = "/update_trainer/{{trainer.id}}/" style="color:black;font-weight:bold;" >Update</a></button>
                 <button class="btn btn-danger " ><a href = "/delete_trainer/{{trainer.id}}/" onclick="return confirm('Are you sure you want to delete this?')" style="color:black;font-weight:bold;">Delete</a></button>  
            </td>
        </tr>
        {% endfor %}

        </tbody>
        
   </table>
{% endblock content %}

{% block content2 %}{% endblock %}